@charset "utf-8";

@font-face{
    font-family:'icons';
    src:url('/css/font/icons.eot');
    src:local(※), url('/css/font/icons.woff') format('woff')
}
/* transition:0.3s all linear; */

#guideFont li {width:100px; cursor:pointer; position:relative; text-align:center; height:100px; float:left; box-sizing:border-box;}
#guideFont li span {position:absolute; display:block; text-align:center; border-radius:10px; left:5px; font-size:12px; line-height:20px; top:15px; width:20px; height:20px; background:#eee;}
#guideFont li strong {font-family:'icons'; padding:10px; border-radius:10px; border:1px solid #eee; display:inline-block; margin-top:30px; width:30px; height:30px; font-weight:normal; font-size:30px; line-height:30px;}
#guideFont li:hover strong {transition:0.3s all linear; color:#ff5500; text-shadow:3px 3px 3px rgba(0,0,0,0.3);}